@using Core.Extensions
@using iCollab.ViewModels
@using Microsoft.AspNet.Identity
@model Model.Meeting

@{
    ViewBag.Title = @Model.Title;
}
<aside class="right-side">
    <section class="content-header">
        <h1 class="pull-left"><a href="/Meetings">Toplantilar</a> <i class="fa fa-angle-double-right"></i> @Model.Title</h1>
        <div class="pull-right">

            @if (Model.CreatedBy == User.Identity.GetUserName())
            {
                @Html.ActionLink("Duzenle", "Edit", "Meetings", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Sil", "Delete", "Meetings", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Silmek istediğinizden emin misiniz ?');" })
                @Html.ActionLink("Toplantılar", "Index", "Meetings", null, new { @class = "btn btn-info btn-sm" })
            }

        </div>
        <div class="clearfix"></div>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-body">
                        <div>
                            
                            <div class="pull-left">
                                @{ Html.RenderAction("RenderUserDetails", "Users", new { username = Model.CreatedBy });}
                            </div>
                            <div class="pull-right">
                                <strong>@Model.DateCreated.FormatDate()</strong>
                            </div>
                            <div class="clearfix"></div>
                            
                            <br/>
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                            
                            <br />
                            @if (Model.Project != null)
                            {
                               <strong>ilgili proje: </strong> <a href="/Projects/View/@Model.ProjectId">@Model.Project.Title</a><br />
                            }
                            <i class="fa fa-location-arrow"></i> <label class="label label-danger">@Model.Location</label><br />
                            <i class="glyphicon glyphicon-calendar"></i> <label class="label label-success"> @Model.DateTime </label><br />
                            <i class="fa fa-users"></i> <label class="label label-primary">@Model.Attendees </label> <br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    <div class="box-body">
                          @{Html.RenderPartial("_Attachment", new AttachmentViewModel
                          {
                              Attachments = Model.Attachments,
                              UploadPath = "/Meetings/Upload/?id=" + Model.Id,
                              RemovePath = "/Meetings/RemoveAttachment/?meetingId=" + Model.Id
                          });}
                    </div>
                </div>
            </div>
        </div>

    </section>
</aside>