@using iCollab.ViewModels
@model Model.Meeting

@{
    ViewBag.Title = @Model.Title;
}
<aside class="right-side">
    <section class="content-header">
        <h1 class="pull-left">@Model.Title</h1>
        <div class="pull-right">
            @Html.ActionLink("Duzenle", "Edit", "Meetings", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Sil", "Delete", "Meetings", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Silmek istediğinizden emin misiniz ?');" })
            @Html.ActionLink("Toplantılar", "Index", "Meetings", null, new { @class = "btn btn-info btn-sm" })
        </div>
        <div class="clearfix"></div>
    </section>

    <section class="content">
        @if (string.IsNullOrEmpty(Model.Description) == false)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div>
                                @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-7">
                <div class="box box-danger">
                    <div class="box-body">
                        <strong>Oluşturan : </strong><label class="label label-info">@Model.CreatedBy</label><br />
                        <strong>Lokasyon : </strong><label class="label label-danger">@Model.Location</label><br />
                        <strong>Tarih : </strong>@Model.DateTime <br />
                        <strong>Katılımcılar :</strong> <label class="label label-primary">@Model.Attendees </label> <br />
                    </div>
                </div>
            </div> 

            <div class="col-xs-5">
                <div class="box box-danger">
                    <div class="box-body"> 
                        @{Html.RenderPartial("_Attachment", new AttachmentViewModel
                          {
                              Attachments = Model.Attachments,
                              UploadPath = "/Meetings/Upload/?id=" + Model.Id,
                              RemovePath = "/Meetings/RemoveAttachment/?meetingId=" + Model.Id
                          });} 
                    </div>
                </div>
            </div>
        </div>

    </section>
</aside>