@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    @*    <link href="/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    @*    <link href="/Assets/fineuploader/fineuploader-4.4.0.min.css" rel="stylesheet" />*@
    <link href="/Assets/kendo/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*    <link href="/Assets/dist/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        <link href="/Assets/dist/css/skins/skin-black.css" rel="stylesheet" type="text/css" />*@
    <link href="/Assets/dist/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/Assets/plugins/bootstrap-slider/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="/Assets/toastr/toastr.css" rel="stylesheet" />

    <link href="/Assets/dist/css/MyBundle.min.css" rel="stylesheet" type="text/css" />
    <style>
        #ex1Slider .slider-selection {
	        background: #3cb371;
        }
    </style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="/Assets/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script src="/Assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Assets/dist/js/bootstrap-switch.min.js"></script>
    <script src='/Assets/plugins/fastclick/fastclick.min.js'></script> 
    <script src="/Assets/fineuploader/all.fineuploader-4.4.0.min.js"></script>
    <link href="/Assets/kendo/styles/kendo.dataviz.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/Assets/kendo/js/jszip.min.js"></script>
    <script src="/Assets/kendo/js/kendo.all.min.js"></script>
    <script src="/Assets/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="/Assets/kendo/js/cultures/kendo.culture.tr-TR.min.js"></script>
    <script src="/Assets/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="/Assets/dist/js/app.min.js" type="text/javascript"></script>

    @RenderSection("choosen", required: false)
    @RenderSection("form", required: false)

    <script src="/Assets/toastr/toastr.js"></script>

    <script>
        $(document).ready(function () {
            kendo.culture("tr-TR");
        });
    </script>

</head>
<body class="skin-black fixed sidebar-collapse">

    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="warning" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />

    <div class="wrapper">

        @{ Html.RenderAction("RenderHeader", "Dashboard"); }

        @{Html.RenderAction("Sidebar", "Dashboard");}

        @RenderBody()

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Versiyon</b> 1.0
            </div>
            <strong>
                Copyright &copy; @DateTime.Now.Year.
            </strong>
        </footer>
    </div>

</body>

</html>
