@model iCollab.ViewModels.AppUserViewModel

<aside class="main-sidebar"> 
    <section class="sidebar"> 
        <div class="user-panel">
            <div class="pull-left image">
                @if (Model.Picture != null)
                {
                    <img src="@Model.Picture.Path" class="user-image" alt="User Image" />
                }
                else
                {
                    <img src="/Assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                } 
            </div>
            <div class="pull-left info">
                <p><a href="/Manage/Index">@Model.UserName</a></p> 
            </div>
        </div> 

        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form> 

        <ul class="sidebar-menu"> 
            <li id="Dashboard">
                <a href="/Dashboard/Index"> <i class="fa fa-th"></i> Kontrol Paneli</a>
            </li>
            <li id="Projects">
                <a href="/Projects/Index"> <i class="fa fa-tasks"></i> Projeler</a>
            </li>
            <li id="Tasks">
                <a href="/Tasks/Index"> <i class="fa fa-bars"></i> Görevler</a>
            </li>
            <li>
                <a href="/Tasks/ViewCalendar"> <i class="fa fa-calendar"></i> Takviminiz</a>
            </li>
            <li id="Documents">
                <a href="/Documents/Index"> <i class="fa  fa-book"></i> Dökümanlar</a>
            </li>
            <li id="Meetings">
                <a href="/Meetings/Index"> <i class="fa fa-exchange"></i> Toplantılar</a>
            </li>
            <li id="Announcements">
                <a href="/Announcements/Index"> <i class="fa fa-bullhorn"></i> Duyurular</a>
            </li>
            <li id="Users">
                <a href="/Users/Index"> <i class="fa fa-user"></i> Kullanıcılar</a>
            </li> 
        </ul>
    </section> 
</aside>


<script>
    $(document).ready(function () {
        $('#@ViewBag.Active').addClass('active');
    });
</script>




@* 
<aside class="left-side sidebar-offcanvas"> 
    <section class="sidebar"> 
        <div class="user-panel"> 
            <div class="pull-left image">
                @if (Model.Picture != null)
                {
                    <img src="@Model.Picture.Path" class="img-circle" alt="Kullanıcı resmi" />
                }
                else
                {
                    <img src="/Assets/img/avatar2.png" />
                }
            </div>
            <div class="pull-left info">

                $1$<p>Merhaba, @Html.ActionLink(@User.Identity.GetUserName(), "ChangePassword", "Manage")</p>#1#

            </div> 
        </div>

        <ul class="sidebar-menu" id="sidebar-menu">
            <li>
                <a href="/Dashboard/Index"> <i class="fa fa-th"></i> Kontrol Paneli</a>
            </li>
            <li>
                <a href="/Projects/Index"> <i class="fa fa-tasks"></i> Projeler</a>
            </li>
            <li>
                <a href="/Tasks/Index"> <i class="fa fa-bars"></i> Görevler</a>
            </li>
            <li>
                <a href="/Tasks/ViewCalendar"> <i class="fa fa-calendar"></i> Takviminiz</a>
            </li>
            <li>
                <a href="/Documents/Index"> <i class="fa  fa-book"></i> Dökümanlar</a>
            </li>
            <li>
                <a href="/Meetings/Index"> <i class="fa fa-exchange"></i> Toplantılar</a>
            </li>
            <li>
                <a href="/Announcements/Index"> <i class="fa fa-bullhorn"></i> Duyurular</a>
            </li>
            <li>
                <a href="/Users/Index"> <i class="fa fa-user"></i> Kullanıcılar</a>
            </li>
            <li>
                <a href="/UserGroups/Index"> <i class="fa fa-users"></i> Kullanıcı Grupları</a>
            </li>
        </ul>
        <hr />
        $1$<div style="margin-left:2px;">
                <strong class="label label-danger">Online kullanıcılar:</strong>
                <div id="usersCount"></div>
            </div>#1#
    </section>
</aside>*@