 <div class="pull-left" style="margin:10px;">
     @Html.ActionLink("Yeni Proje", "Create", "Projects", null, new {@class = "btn btn-primary"}) 
     @Html.ActionLink("Tamamlanan Projeler", "CompletedProjects", "Projects", null, new { @class = "btn btn-success" })
     @Html.ActionLink("Aktif Projeler", "ActiveProjects", "Projects", null, new { @class = "btn btn-success" })
     @Html.ActionLink("Geciken Projeler", "LateProjects", "Projects", null, new { @class = "btn btn-success" })
     @Html.ActionLink("Planlanan Projeler", "PlannedProjects", "Projects", null, new { @class = "btn btn-success" })
     @Html.ActionLink("İptal Edilen Projeler", "CancelledProjects", "Projects", null, new { @class = "btn btn-success" })
 </div>