@using iCollab.ViewModels
@model AnnouncementViewModel

@{
    ViewBag.Title = Model.Title;
}
<aside class="right-side">
    <section class="content-header">

        <h1 class="pull-left">
            @Model.Title
        </h1>
        <div class="pull-right">
            @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Sil", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Silmek istediğinizden emin misiniz ?');" })
            @Html.ActionLink("Tüm Duyurular", "Index", null, new { @class = "btn btn-info btn-sm" })
        </div>
        <div class="clearfix"></div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div>
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-7">
                <div class="box box-danger">
                    <div class="box-body">
                        <strong>Yayınlama Zamanı:</strong> @Html.DisplayFor(model => model.PublishDate)<br />
                        <strong>Bitiş Zamanı:</strong> @Html.DisplayFor(model => model.EndDate)<br />
                        <strong>Oluşturulma Zamanı:</strong> @Html.DisplayFor(model => model.DateCreated)<br />
                        <strong>Oluşturan:</strong> @Model.CreatedBy
                    </div>
                </div>
            </div>

            <div class="col-xs-5">
                <div class="box box-danger">
                    <div class="box-body">
                        @{Html.RenderPartial("_Attachment", new AttachmentViewModel
                          {
                              Attachments = Model.Attachments,
                              RemovePath = "/Announcements/RemoveAttachment/?announcementId=" + Model.Id,
                              UploadPath = "/Announcements/Upload/?id=" + Model.Id
                          });
                        } 
                    </div>
                </div>
            </div> 

        </div>
    </section>
</aside> 