@{
    ViewBag.Title = "Yeni proje";
    Layout = "~/Views/Mailer/_Layout.cshtml";
}

<strong>@ViewBag.Project.Title</strong><br/> 

Yeni bir proje oluşturuldu. Siz de bu projenin bir katılımcısısınız. <br/><br/>

Projenin : <br/>
<strong>Durumu : </strong> @ViewBag.Project.Status <br />
<strong>Önceliği : </strong> @ViewBag.Project.Priority <br />
<strong>Başlangıç : </strong> @ViewBag.Project.StartDatetime <br />
<strong>Bitiş :</strong> @ViewBag.Project.EndDatetime <br />
<br />
<br />

Daha fazlası için: <a href="http://dev.saglik.gov.tr/Projects/View/@ViewBag.Project.Id">@ViewBag.Project.Title</a> <br/>