@using Model
@model iCollab.ViewModels.TaskViewModel

@{
    ViewBag.Title = "Görev Ekle";
}

@section form{
    <script src="/Assets/dist/js/jquery.validate.js"></script>
    <script src="/Assets/dist/js/jquery.validate.unobtrusive.min.js"></script>

    <script src="/Assets/dist/js/ckeditor/ckeditor.js" type="text/javascript"></script>
}

<aside class="right-side">
    <section class="content-header">
        <h1>
            Alt Görev Ekle
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m=>m.ParentTaskId)
                        @Html.HiddenFor(m => m.ProjectId)

                        <div class="form-horizontal">
                            @if (ViewData.ModelState.IsValid == false)
                            {
                                <div class="alert alert-danger alert-dismissable">
                                    <i class="fa fa-ban"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    @Html.ValidationSummary(true)
                                    @Html.ValidationMessage("Error")
                                </div>
                            }

                            <div class="form-group">
                                <label class="control-label col-md-2 required">Kullanıcı</label>
                                <div class="col-md-10">
                                    @(Html.Kendo().MultiSelect()
                                      .Name("SelectedUsers")
                                      .DataTextField("FullName")
                                      .DataValueField("Id")
                                      .Placeholder("Kullanıcı seçiniz...")
                                      .AutoBind(false)
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetUsers", "Users");
                                          })
                                          .ServerFiltering(true);
                                      })
                                    )
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2 required" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div> 

                            <div class="form-group">
                                @Html.LabelFor(model => model.Start, new { @class = "control-label col-md-2" })
                                <div class="col-md-10"> 
                                    @(Html.Kendo().DatePicker().Name("Start"))
                                    @Html.ValidationMessageFor(model => model.Start)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.End, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @(Html.Kendo().DatePicker().Name("End"))
                                    @Html.ValidationMessageFor(model => model.End)
                                </div>
                            </div> 
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Priority, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @(Html.Kendo().DropDownList().Name("Priority").BindTo(Enum.GetNames(typeof(Priority))))
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                                    @Html.ActionLink("İptal", "View", "Tasks", new {id = Model.ParentTaskId }, new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</aside>

<script>
    $(function () {
        CKEDITOR.replace('Description');
    });
</script>
