@using Model
@model iCollab.ViewModels.TaskViewModel

@{
    ViewBag.Title = "Düzenle";
}

@section form{
    <script src="/Assets/dist/js/jquery.validate.js"></script>
    <script src="/Assets/dist/js/jquery.validate.unobtrusive.min.js"></script>

    <script src="/Assets/dist/js/ckeditor/ckeditor.js" type="text/javascript"></script>
}

<aside class="right-side">
    <section class="content-header">
        <h1>Görev Düzenle</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.ProjectId)
                            @Html.HiddenFor(model => model.DateCreated) 

                            @if (ViewData.ModelState.IsValid == false)
                            {
                                <div class="alert alert-danger alert-dismissable">
                                    <i class="fa fa-ban"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    @Html.ValidationSummary(true)
                                    @Html.ValidationMessage("Error")
                                </div>
                            }

                            <div class="form-group">
                                <label class="control-label col-md-2 required">Kullanıcılar</label>
                                <div class="col-md-10">
                                    @(Html.Kendo().MultiSelect()
                                      .Name("SelectedUsers")
                                      .DataTextField("FullName")
                                      .DataValueField("Id")
                                      .Placeholder("Kullanıcıları seçiniz...")
                                      .AutoBind(false)
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetUsers", "Users");
                                          })
                                          .ServerFiltering(true);
                                      })
                                     .Value(Model.SelectedProjectUsers))

                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2 required" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div> 
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Start, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">

                                    @(Html.Kendo().DatePicker().Value(Model.Start).Max(Model.End).Name("Start").Events(e => e.Change("startChange")))
                                    @Html.ValidationMessageFor(model => model.Start)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.End, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @(Html.Kendo().DatePicker().Value(Model.End).Min(Model.Start).Name("End").Events(e => e.Change("endChange")))
                                    @Html.ValidationMessageFor(model => model.End)
                                </div>
                            </div> 

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                                    @Html.ActionLink("İptal", "View", "Tasks", new { id = Model.Id }, new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</aside>

<script>
    $(function () {
        CKEDITOR.replace('Description');
    });
    function startChange() {
        var endPicker = $("#end").data("kendoDatePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function endChange() {
        var startPicker = $("#start").data("kendoDatePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }
</script>
