@using Core.Extensions
@using iCollab.ViewModels 
@using Microsoft.AspNet.Identity
@model Model.Document

@{
    ViewBag.Title = @Model.Title;
} 
<aside class="right-side">
    <section class="content-header">
        <h1 class="pull-left"><a href="/Documents">Dökümanlar</a> <i class="fa fa-angle-double-right"></i> @Model.Title</h1>
        <div class="pull-right"> 
            @if (Model.CreatedBy == User.Identity.GetUserName())
            {
                <a href="/Documents/Edit/@Model.Id"><i class="glyphicon glyphicon-edit"></i></a>
                <a href="/Documents/Delete/@Model.Id" onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="glyphicon glyphicon-trash btn-lg"></i></a> 
            }  
            <a href="/Documents/Index"><i class="glyphicon glyphicon-list btn-lg"></i></a>
        </div>
        <div class="clearfix"></div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-body">
                        <div>
                            <div class="pull-left">
                                @{ Html.RenderAction("RenderUserDetails", "Users", new { username = Model.CreatedBy });}
                            </div>
                            <div class="pull-right">
                                <strong>@Model.DateCreated.FormatDate()</strong>
                            </div> 
                            <div class="clearfix"></div>
                            
                            <br/>

                            @if (Model.Project != null)
                            {
                                <strong>ilgili proje: </strong> <a href="/Projects/View/@Model.ProjectId">@Model.Project.Title</a>
                            }

                            <br /> 
                            <br /> 
                            
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                             
                            <div class="pull-right">
                                @Html.ActionLink("Pdf'e aktar", "ExportAsPdf", "Documents", new { documentId = Model.Id }, new { @class = "btn btn-danger" })
                                @Html.ActionLink("İçerik ekle", "AddContentPage", "Documents", new { documentId = Model.Id }, new { @class = "btn btn-primary" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-body">
                        @{Html.RenderPartial("_Attachment", new AttachmentViewModel
                          {
                              Attachments = Model.Attachments,
                              UploadPath = "/Documents/Upload/?id=" + Model.Id,
                              RemovePath = "/Documents/RemoveAttachment/?documentId=" + Model.Id
                          });}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.ContentPages != null)
            {
                foreach (var item in Model.ContentPages)
                {
                    <div class="col-xs-12">
                        
                        <div class="box box-default collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title" data-widget="collapse">@item.Title</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                </div> 
                            </div>
                            <div class="box-body"> 
                                <div class="pull-left">
                                    @{ Html.RenderAction("RenderUserDetails", "Users", new { username = Model.CreatedBy });}
                                </div>
                                <div class="pull-right">
                                    <strong>@Model.DateCreated.FormatDate()</strong>
                                </div>
                                <div class="clearfix"></div>

                                @Html.Raw(HttpUtility.HtmlDecode(item.Description))
                                @Html.ActionLink("Düzenle", "EditContentPage", "Documents", new { documentId = Model.Id, contentPageId = item.Id }, new { @class = "btn btn-sm btn-warning" })
                                @Html.ActionLink("Sil", "DeleteContentPage", "Documents", new { documentId = Model.Id, contentPageId = item.Id }, new { @class = "btn btn-sm btn-danger", onclick = "return confirm('Silmek istediğinizden emin misiniz ?');" })
                            </div> 
                        </div> 
                    </div>
                }
            }
        </div>
    </section>
</aside> 